header.header
    .header__wrapper
        .header__column
            a(href=urls.home)
                i.fab.fa-youtube
        .header__column
            form(action=urls.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=urls.join) Join
                    li
                        a(href=urls.login) LogIn
                else 
                    li
                        a(href=`/videos${urls.upload}`) Upload
                    li
                        a(href=urls.me) Profile
                    li
                        a(href=urls.logout) LogOut