extends layouts/main

block content
    .videoDetail_wrapper
        .video__player
            video(src=`/${video.fileUrl}`, controls=true)
        .video__info
            .video__info-header
                h5.video__title video.title
                if video.views === 1
                    div.video__views 1 view
                else
                    div.video__views #{video.views} views
                a.video__info-edit(href=`${urls.editVideo}/${video.id}`) Edit Video
            p.video__description= video.description